@media screen and (max-width: 1200px) {
  .header-top .header-store-notice a::before {
    bottom: -1px;
  }
  .ground-image .card h2 {
    font-size: 35px !important;
  }
  .form .form-check .card .card-heading h2 {
    font-size: 20px !important;
  }
  .form .form-check .card .card-content h4 {
    font-size: 17px !important;
  }
  .form .form-check .card .card-content p {
    font-size: 15px !important;
  }
  .footer .card-bottom {
    & ul {
      li {
        font-size: 7px !important;
      }
    }
  }
}
/* ************************************************* */
@media (max-width: 992px) {
  .ground-image .card h2 {
    font-size: 30px !important;
    letter-spacing: 0px !important;
  }
  .form .form-check {
    padding: 0 40px!important;
  }
  .form .form-check .card .card-heading h2 {
    margin-block-start: 50px !important;
  }
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled) {
    background-color: transparent;
    width: fit-content;
    &:hover{
      background-color: transparent;
    }
  }
  .footer .card p{
    margin-block-end: 10px !important;
  }
  .footer .card ul{
    margin-block-end: 10px !important;
  }
}
/* ************************************************ */
@media (max-width: 768px) {
  .ground-image .card h2 {
    font-size: 25px !important;
    width: auto !important;
}
.form .form-check {
  padding: 0 10px!important;
}
.form .form-check .card .card-heading h2 {
  font-size: 20px !important;
}
.form .form-check .card .card-content h4 {
  font-size: 18px !important;
}
.form .form-check .card .card-content p {
  font-size: 15px !important;
  width: 100% !important;
 
}
.submit {
  font-size: 16px !important;
}
.footer {
  img {
      width: 90px !important;
  }
}
.footer .card .card-heading h6 {
  font-size: 17px !important;
}
.footer .card ul{
  margin-inline-end: 30px !important;
}
}
/* ************************************************ */
@media (max-width: 615px){
  .ground-image .card h2 {
    font-size: 20px !important;
}
  .form .form-check .card .card-heading h2 {
    font-size: 15px !important;
  }
  .form .form-check .card .card-content h4 {
    font-size: 13px !important;
  }
  .form .form-check .card .card-content p {
    font-size: 12px !important;
   
  }
  .form .form-check {
  padding: 0 10px !important;
}
.submit {
  font-size: 14px !important;
}
.footer .card .card-heading h6 {
  font-size: 14px !important;
}
.footer .side-arrow {
  width: 20px;
  height: 20px;
    a{
      i{
        font-size: 15px;
      }
    }
}
}
/* ************************************************ */
@media (max-width: 522px){
  .ground-image .card h2 {
    font-size: 14px !important;
}
.navbar-toggler-icon {
  font-size: 20px !important;

}
.header .search-icon i {
  font-size: 18px !important;
}
.navbar .navbar-brand {
  margin-block-end: -1px !important;
}
}
/* ************************************************ */
@media (max-width: 420px){
  .ground-image .card h2 {
    font-size: 10px !important;
}
.form .form-check {
  padding: 0 5px !important;
}
.input-group
    > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(
      .valid-feedback
    ):not(.invalid-tooltip):not(.invalid-feedback) {
    font-size: 10px !important;
  }
  .input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
  .input-group:not(.has-validation)
    > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    font-size: 10px !important;
  }
}
/* ****************************************************************************** */
@media (max-width: 420px){
  .navbar .navbar-brand {
    margin-inline-end: 70px !important;
  }
  .header .home-btn{
    position: relative;
    right: 30px;
    i{
      font-size:  15px !important;
    }
  }
}
/* **************************************************** */
@media (max-width: 322px){
.navbar .navbar-brand {
  position: relative;
  bottom: 20px;
}}